In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./stores-area-and-sales-data/Stores.csv")
df.head()

   Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1        1659             1961                   530        66490
1          2        1461             1752                   210        39820
2          3        1340             1609                   720        54010
3          4        1451             1748                   620        53730
4          5        1770             2111                   450        46620

In [3]:
df.shape

(896, 5)